body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* кнопки */

.button {
    display: inline-block;
    padding: 18px 50px;
    font: inherit;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #fb565a;
}

.button:hover {
    background-color: #E74246;
}

.button:active {
    background-color: #D7373B;
    color: rgba(255,255,255,0.5);
}





/* хедер */
.main-header {
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
}

.header__wrapper {
    display: flex;
    flex-basis: 1160px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding-top: 55px;
    box-sizing: border-box;
}

.logo__wrapper {
    margin-top: -5px;
}

.header__logo:hover {
    opacity: 0.6;
}

.header__logo:active {
    opacity: 0.2;
}

.header__nav--list {
    margin: 0;
    margin-right: 25px;
    list-style:none;

    display: flex;
    flex-wrap: wrap;
    flex-basis: 750px;
}

.header__nav--item {
    margin-right: 45px;
    flex-grow: 1;
}

.header__nav--item a {
    padding-bottom: 7px;
}

.header__nav--item a:last-child {
    margin: 0;
}

.header__nav--item a:hover,
.cart--item:hover {
    color: #FB565A;
}

.header__wrapper--cart {
    padding-left: 55px;
}

.header__nav--item a:active,
.cart--item:active {
    border-bottom: 2px solid #FB565A;
    color: #000;
}

.cart--item {
    position: relative;
    padding-bottom: 7px;
}

.cart--item:before {
    content:"";
    position: absolute;
    width: 15px;
    height: 15px;

    background-image: url("../img/cart-icon.svg");
    left: -40px;
    top: 1px;
}

.header__nav--item a,
.cart--item {
    color: #000000;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}





/* catalog-title */
.catalog .header__wrapper--caption {
    display: flex;
    flex-basis: 1160px;
    box-sizing: border-box;

    padding-top: 60px;
    padding-bottom: 100px;
}

.catalog .header__wrapper--caption h1 {
    margin: 0;
    margin: auto;

    font-size: 55px;
    line-height: 70px;
}





/* content  forms */
.catalog .main-content {
    display: flex;
    justify-content: center;
}

.catalog .main-content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-basis: 1160px;
    padding-top: 55px;
}

.catalog .main-content__forms {
    max-width: 270px;
    flex-direction: column;
    margin-right: 140px;
    box-sizing: border-box;
}

.catalog .main-content__forms legend,
.catalog .main-content__forms label,
.catalog .main-content__forms input,
.catalog .main-content__forms fieldset {
    font: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;

}

.catalog .main-content__forms legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.catalog .main-content__forms p {
    margin: 0;
    position: relative;
    padding: 10px 0;
}

.main-content__forms .radio-on,
.main-content__forms .radio-off {
    position: absolute;
}

.main-content__forms {

}

.template-parameters__value p:first-child {
    margin-top:;
}

.template-parameters__value p:nth-of-type(2) {
    padding: 25px 10px;
    width: 240px;
    background-color: #EEEEEE;
    margin-top: 55px;
}

.template-parameters__grid input[type="radio"] {
    display: none;
}

.template-parameters__grid > label {
    padding-left: 40px;
}

.template-parameters__grid p:first-child {
    margin-top: 60px;
}

.template-parameters__features input[type="checkbox"] {
    display: none;
}


/* content ready templates */

.catalog.main-content__ready-templates {
    max-width: 760px;
    flex-wrap: wrap;
    display: flex;
}

.catalog .ready-templates__sorting {

}

.catalog .sorting-title {
    margin: 0;
}

.catalog .sorting-title__item {

}

.catalog .ready-templates__content {

}

.catalog .ready-templates__content--list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog .ready-templates__content--item {
    flex-basis: 360px;
    margin-right: 40px;
    max-height: 620px;
}

.catalog .ready-templates__content--item p,
.catalog .ready-templates__content--item h3 {
    margin: 0;
}

.catalog .content__item--hover {

}






/* page-nav */

.catalog .main-content__page-navigation {

}

.catalog .page-navigation__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog.page-navigation__item {

}







/* слайдер */
.main-slider {
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
}

.main-slider__wrapper {
    flex-basis: 1160px;
    padding-top: 10px;
    box-sizing: border-box;
}

.main-slider__list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;

    display: flex;
    flex-wrap: wrap;
}

.main-slider__item {
    display: flex;
    flex-grow: 1;
}

.main-slider__list p {
    padding-top: 2px;
}

.main-slider__item:not(:first-child) {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.main-slider__item:last-child .item-wrap__img {
    display: flex;
    margin-top: auto;
    margin-bottom: 6px;
}

.item-wrap {
    flex-shrink:5;
    padding-top: 60px;
}

.item-wrap b {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}

.letter-spacing {
    letter-spacing: 1px;
}

.item-wrap p {
    margin: 0;
    margin-top: 25px;;
}

.item-wrap .button {
    margin-top: 40px;
    padding:14px 54px;
}

.item-wrap .button:hover {
    background-color: #E74246;
}

.item-wrap .button:active {
    background-color: #D7373B;
    color: rgba(255,255,255,0.5);
}



.item-wrap__img {
    padding-right: 30px;
    flex-shrink: 1;
}

.item-wrap__img img {
    margin-bottom: -6px;
}





/* main-service */
.main__service {
    display: flex;
    justify-content: center;
}

.main__service--wrapper {
    flex-basis: 1160px;

    border-bottom: 2px solid #ececec;
    padding-bottom: 80px;
    padding-top: 10px;
    box-sizing: border-box;
}

.service--list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: -50px;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.service--item {
    flex-basis: 300px;
    padding-top: 70px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
}

.service--item img {
    width: 300px;
    height: 150px;
}

.service--item p,
.service--item h3 {
    margin: 0;
}

.service--item h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;

    margin-top:20px;
}

.service--item p {
    padding-top: 18px;
    margin-bottom: 30px;
}

.service--item .button {
    margin-top: auto;
    padding: 15px 40px;
}

.service--item:nth-child(2) .button {
    background-color: #00CA74;
}

.service--item:nth-child(3) .button {
    background-color: #EFC84A;
}

.service--item:nth-child(2) .button:hover {
    background-color: #00BC6C;
}

.service--item:nth-child(2) .button:active {
    background-color: #00AA62;
    color: rgba(255,255,255,0.5);
}

.service--item:nth-child(3) .button:hover {
    background-color: #EAB534;
}

.service--item:nth-child(3) .button:active {
    background-color: #E5A722;
    color: rgba(255,255,255,0.5);
}




/* main-about-us */
.main__about-us {
    display: flex;
    justify-content: center;
}

.main__about-us--wrapper {
    display: flex;
    flex-basis: 1160px;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;

    border-bottom:1px solid #ececec;
    padding-bottom: 70px;
    padding-top: 75px;
}

.about-us__list {
    flex-basis: 660px;
    display: flex;
    flex-direction: column;
}

.plural {
    margin: 0;

    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.plural--principle {
    margin: 0;
    margin-top: 32px;
}

.plural--list {
    margin: 0;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 700;
}

.about-us__service--list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.about-us__item {
    padding-left: 35px;
    margin-top: 25px;
    position: relative;
}

.about-us__item::before {
    content: "";
    width: 25px;
    height: 5px;
    background-image: url("/img/red-line.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0px;
    top: 8px;
}

.about-us__statistic {
    margin-top: -35px;
    margin-right: -20px;
    flex-basis: 380px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.statistis-title {
    margin:0;
    margin-top: 35px;
    padding-left: 15px;

    font-weight: 700;
    text-transform: uppercase;
}

.about-us__statistic--list {
    list-style: none;
    margin:0;
    padding: 0;

    margin-top: 50px;
    display: flex;
    align-items: flex-end;
}

.about-us__statistic--item {
    margin-right: 17px;
}

.about-us__statistic--item > p {
    margin: 0;
}

.about-us__statistic--item > p:last-child {
    margin-top: 27px;
    line-height: 19px;
}

.statistic--item__bold {
    font-size: 45px;
    font-weight: 700;
    padding-top: 3px;
}





/* works */
.main-works {
    display: flex;
    justify-content: center;
}

.main-works__wrapper {
    flex-basis: 1160px;

    border-bottom: 2px solid #ececec;
    padding: 10px 0 10px 0;
    box-sizing: border-box;
}

.main-works__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    overflow: hidden;
}

.main-works--item {
    max-width: 280px;
    max-height: 90px;
    padding:35px 25px;
    }

.main-works--item img {
    opacity: 0.5
}

.main-works--item:hover img {
    opacity: 1;
}

.main-works--item:active img {
    opacity: 0.2;
}

.main-works--item a {
    position: relative;
}

.main-works--item a::after {
    content: "";
    width: 10px;
    height: 60px;
    background-image: url(/img/line.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;

    left: -55px;
    top: -55px;
}

.main-works--item:nth-child(3) a::after {
    top: -40px;
}

.main-works--item:nth-child(4) a::after {
    top: -65px;
    left: -60px;
}




/* map */
.main-map {
    max-width: 1440px;
    min-height: 420px;
    margin: 0 auto;
    margin-top: 80px;

    position: relative;

    background-image:url("/img/map.jpg");
    background-repeat: no-repeat;
    background-position: 0px -145px;
    background-size: 1440px;
    background-color: #dfe2e3;
}

.main-map__wrapper {
    position: absolute;
    top: 60px;
    left: 130px;
    padding: 25px 60px 20px 60px;

    background-color: #ffffff;
    width: 210px;
    height: 250px;
}


.map__address > p {
    margin: 0;
    margin-top: 27px;
    line-height: 19px;
}

.map__address--title {
    letter-spacing: 1px;
}

.map__address p:nth-child(3) {
    margin-top: 20px;
}

.map__address .button {
    display: inline-block;
    margin-top: 35px;
    padding: 15px 40px
}




/* footer */
.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-footer__wrapper {
    flex-basis: 1160px;
    display: flex;
    justify-content: flex-start;

    padding: 55px 0 60px 0;
    box-sizing: border-box;
}

.footer-social {
    display: flex;
    flex-basis: 400px;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-basis: 400px;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.social-item {
    background-color: #D0D0D0;
    border: 1PX solid rgba(0, 0, 0, 0);
    border-radius:50%;
    width: 80px;
    height: 80px;
    margin-right: 15px;

    display: inline-block;
    position: relative;
}

.social-item-vk svg ,
.social-item-fb svg ,
.social-item-ig svg {
    position: absolute;
    top: 50%;
    left: 50%;
}

.social-item-vk svg {
    margin-left: -13px;
    margin-top: -7.5px;
}

.social-item-fb svg {
    margin-left: -6px;
    margin-top: -11px;
}

.social-item-ig svg {
    margin-left: -10.5px;
    margin-top: -10.5px;
}

.social-item svg path {
    fill: #FFFFFF;
}

.social-item:hover {
    background-color: #E74246;
}

.social-item:active,
.social-item:active svg path {
    background-color: #D7373B;
    fill: rgba(255,255,255,0.5);
}

.footer__tagline {
    display: flex;
    flex-direction: column;
}

.footer__tagline > p {
    margin: 0;
    margin-top: 15px;
}

.footer__tagline .sale {
    margin-top: 5px;
}

.footer__tagline p > b {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}



/* popap-write-to-us */
.popap-write-to-us {
    display: none;
    position: fixed;
    top: 180px;
    left: 50%;
    width: 960px;
    height: 580px;
    margin-left: -480px;
    box-sizing: border-box;

    background-color: #FFFFFF;
    box-shadow: 0px 15px 50px 0px rgba(50, 50, 50, 1);
}

.write-to-us__form legend {
    margin-bottom: 40px;
}

.popap-wrapper {
    max-width: 770px;
    max-height: 440px;
    padding: 70px 100px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.half-width-wrapper {
    display: flex;
}

.half-width {
    box-sizing: border-box;
    margin-right: 40px;
}

.half-width input {
    max-width: 355px;
    max-height: 50px;
}

.half-width input[type="text"] {
    margin-right: 40px;
}

.write-to-us__form {
    font-family: inherit;
}

.write-to-us__form div {
    margin: 0;
}

.write-to-us__form fieldset {
    border: none;
}

.write-to-us__form legend {
    font-size: 42px;
    font-weight: 700;
    line-height: 42px;
}
.write-to-us__form label,
.write-to-us__form input {
    list-style: none;
    border:none;
    font: inherit;
}

.write-to-us__form label {
    font-weight: 700;
    margin: 20px 10px 20px 0;
}

.write-to-us__form input {
    width: 360px;
    height: 51px;
    margin: 10px 0px;
    border: 2px solid #ececec;
    border-radius: 5px;
}

.write-to-us__form textarea {
    font: inherit;
    width: 750px;
    height: 116px;
    border: 2px solid #ececec;
    border-radius: 5px;

}

.write-to-us__form .textarea {
    margin-top: 35px;
}

.write-to-us__form textarea {
    margin-top: 10px;
}

.write-to-us__form .button {
    margin-top: 50px;
    padding: 10px 80px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0);
}
