body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;







    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* кнопки */

.button {
    display: inline-block;
    padding: 18px 50px;
    font: inherit;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #fb565a;
}





/* хедер */
.main-header {
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
}

.header__wrapper {
    display: flex;
    flex-basis: 1160px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding-top: 55px;
    box-sizing: border-box;
}

.logo__wrapper {
    margin-top: -5px;
}

.header__nav--list {
    margin: 0;
    margin-right: 70px;
    list-style:none;

    display: flex;
    flex-wrap: wrap;
    flex-basis: 750px;
}

.header__nav--item {
    margin-right: 45px;

    flex-grow: 1;
}

.header__nav--item:last-child {
    margin: 0;
}

.cart--item {
padding-left: 55px;
position: relative;
}

.cart--item:before {
content:"";
position: absolute;
width: 15px;
height: 15px;

background-image: url("../img/cart-icon.svg");
left: 15px;
top: 1px;
}

.header__nav--item a,
.cart--item {
    color: #000000;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}




/* слайдер */
.main-slider {
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
}

.main-slider__wrapper {
    flex-basis: 1160px;
    padding-top: 10px;
    box-sizing: border-box;
}

.main-slider__list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;

    display: flex;
    flex-wrap: wrap;
}

.main-slider__item {
    display: flex;
    flex-grow: 1;
}

.main-slider__item:not(:first-child) {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.item-wrap {
    flex-shrink:5;
    padding-top: 60px;
}

.letter-spacing {
    letter-spacing: 20px;
}

.item-wrap b {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}

.item-wrap p {
    margin: 0;
    margin-top: 25px;;
}

.item-wrap .button {
    margin-top: 40px;
    padding:14px 54px;
}


.item-wrap__img {
    padding-right: 30px;
    flex-shrink: 1
}





/* main-service */
.main__service {
    display: flex;
    justify-content: center;
}

.main__service--wrapper {
    flex-basis: 1160px;

    border-bottom: 2px solid #ececec;
    padding-bottom: 80px;
    padding-top: 3px;
    box-sizing: border-box;
}

.service--list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: -50px;

    display: flex;
    flex-wrap: wrap;
}

.service--item {
    flex-basis: 300px;
    padding-top: 70px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-grow:1;
}

.service--item img {
    width: 300px;
    height: 150px;
}

.service--item p,
.service--item h3 {
    margin: 0;
}

.service--item h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;

    margin-top:20px;
}

.service--item p {
    margin-top: 15px;
    margin-bottom: 30px;
}

.service--item .button {
    margin-top: auto;
    padding: 15px 40px;
}





/* main-about-us */
.main__about-us {
    display: flex;
    justify-content: center;
}

.main__about-us--wrapper {
    display: flex;
    flex-basis: 1160px;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;

    border-bottom:1px solid #ececec;
    padding-bottom: 70px;
    padding-top: 75px;
}

.about-us__list {
    flex-basis: 660px;
    display: flex;
    flex-direction: column;
}

.plural {
    margin: 0;


    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.plural--principle {
    margin: 0;
    margin-top: 30px;
}

.plural--list {
    margin: 0;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 700;
}

.about-us__service--list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.about-us__item {
    padding-left: 35px;
    margin-top: 25px;
}

.about-us__statistic {
    margin-top: -35px;
    margin-right: -20px;
    flex-basis: 380px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.statistis-title {
    margin:0;
    margin-top: 35px;
    padding-left: 15px;

    font-weight: 700;
    text-transform: uppercase;
}

.about-us__statistic--list {
    list-style: none;
    margin:0;
    padding: 0;

    margin-top: 50px;
    display: flex;
    align-items: flex-end;
}

.about-us__statistic--item {
    margin-right: 17px;
}

.about-us__statistic--item > p {
    margin: 0;
}

.about-us__statistic--item > p:last-child {
    margin-top: 27px;
    line-height: 19px;
}

.statistic--item__bold {
    font-size: 45px;
    font-weight: 700;
}





/* works */
.main-works {
    display: flex;
    justify-content: center;
}

.main-works__wrapper {
    flex-basis: 1160px;

    border-bottom: 2px solid #ececec;
    padding: 10px 0 10px 0;
    box-sizing: border-box;
}

.main-works__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}

.main-works--item {
    max-width: 280px;
    max-height: 90px;
    padding:35px 25px;

    border-right: 2px solid #ececec;
}




/* map */
.main-map {
    max-width: 1440px;
    min-height: 420px;
    margin: 0 auto;
    margin-top: 80px;

    position: relative;

    background-image:url("/img/map.jpg");
    background-repeat: no-repeat;
    background-position: 0px -145px;
    background-size: 1440px;
    background-color: #dfe2e3;
}

.main-map__wrapper {
    position: absolute;
    top: 60px;
    left: 130px;
    padding: 25px 60px 20px 60px;

    background-color: #ffffff;
    width: 210px;
    height: 250px;
}


.map__address > p {
    margin: 0;
    margin-top: 25px;
    line-height: 19px;
}

.map__address--title {
    letter-spacing: 1px;
}

.map__address p:nth-child(3) {
    margin-top: 20px;
}

.map__address .button {
    display: inline-block;
    margin-top: 35px;
    padding: 15px 40px
}




/* footer */
.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-footer__wrapper {
    flex-basis: 1160px;
    display: flex;
    justify-content: flex-start;

    padding: 55px 0 60px 0;
    box-sizing: border-box;
}

.footer-social {
    display: flex;
    flex-basis: 400px;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-basis: 400px;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.social-item {
    background-color: #D0D0D0;
    border: 1PX solid rgba(0, 0, 0, 0);
    border-radius:50%;
    width: 80px;
    height: 80px;
    margin-right: 15px;

    display: inline-block;
    position: relative;
}

.social-item-vk svg ,
.social-item-fb svg ,
.social-item-ig svg {
    position: absolute;
    top: 50%;
    left: 50%;
}

.social-item-vk svg {
    margin-left: -13px;
    margin-top: -7.5px;
}

.social-item-fb svg {
    margin-left: -6px;
    margin-top: -11px;
}

.social-item-ig svg {
    margin-left: -10.5px;
    margin-top: -10.5px;
}

.footer__tagline {
    display: flex;
    flex-direction: column;
}

.footer__tagline > p {
    margin: 0;
    margin-top: 15px;
}

.footer__tagline .sale {
    margin-top: 5px;
}

.footer__tagline p > b {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}



/* popap-write-to-us */
.popap-write-to-us {
    display: none;
    position: fixed;
    top: 0px;
    left: 50%;
    width: 960px;
    height: 580px;
    margin-left: -480px;
    box-sizing: border-box;

    background-color: #851;
    box-shadow: 0px 15px 30px 0px rgba(50, 50, 50, 1);
}

.popap-wrapper {
    width: 770px;
    height: 440px;
    padding: 70px 100px;
    position: relative;
}

.write-to-us__form {
    font-family: inherit;
}

.write-to-us__form fieldset {
    border: none;
}

.write-to-us__form legend {
    font-size: 42px;
    font-weight: 700;
    line-height: 42px;
}
.write-to-us__form label,
.write-to-us__form input {
    list-style: none;
    border:none;
    font: inherit;
}

.write-to-us__form label {
    font-weight: 700;
    margin: 20px 10px 20px 0;
}

.write-to-us__form input {
    width: 360px;
    height: 51px;
    margin: 15px 30px 15px 0;
    border: 2px solid #ececec;
    border-radius: 3px;
}

.write-to-us__form textarea {
    font: inherit;
    width: 750px;
    height: 116px;
    border: 2px solid #ececec;
    border-radius: 3px;
}
