body {
    margin: 0 auto;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    max-width: 1200px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* кнопки */

.button {
    display: inline-block;
    padding: 18px 50px;
    font: inherit;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #fb565a;
}

.button:hover {
    background-color: #E74246;
}

.button:active {
    background-color: #D7373B;
    color: rgba(255,255,255,0.5);
}





/* хедер */
.main-header {
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    /* margin-left: -10%; */
}

.header__wrapper {
    display: flex;
    flex-basis: 1160px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 55px;
    box-sizing: border-box;
}

.catalog .header__wrapper {
    padding-top: 50px;
}

.logo__wrapper {
    margin-top: -5px;
/* margin-left: 88px; */
}

.header__logo:hover {
    opacity: 0.6;
}

.header__logo:active {
    opacity: 0.2;
}

.catalog .header__nav {
    padding-top: 10px;
}

.header__nav--list {
    margin: 0;
    margin-left: -25px;
margin-top: 3px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
}

.catalog .header__nav--list {
    margin-right: 23px;
}

.header__nav--item {
    margin-right: 46px;
    flex-grow: 1;
}

.header__nav--item a {
    padding-bottom: 7px;
}

.header__nav--item a:last-child {
    margin: 0;
}

.header__nav--item a:hover,
.cart--item:hover {
    color: #FB565A;
}

.header__wrapper--cart {
    padding-left: 55px;
}

.catalog .header__wrapper--cart {
    padding-top: 10px;
}

.header__nav--item a:active,
.cart--item:active {
    border-bottom: 2px solid #FB565A;
    color: #000;
}

.cart--item {
    position: relative;
    padding-bottom: 7px;
}

.cart--item:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    left: -40px;
    top: 1px;
}

.header__nav--item a,
.cart--item {
    color: #000000;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}





/* catalog-title */
.catalog .header__wrapper--caption {
    display: flex;
    flex-basis: 1160px;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 100px;
}

.catalog .header__wrapper--caption h1 {
    margin: 0;
    margin: auto;
    font-size: 55px;
    line-height: 70px;
}





/* content  forms */
.catalog .main-content {
    display: flex;
    justify-content: center;
}

.catalog .main-content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-basis: 1160px;
    padding-top: 55px;
}

/* range filter */
.main-content__forms {
    margin-right: 140px;
}

.main-content__forms fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.main-content__forms legend {
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.catalog .template-parameters__value {
    margin-top: 3px;
}

.catalog .template-parameters__value legend {
    letter-spacing: 0.7px;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;

  /* Для демонстрации */
  width: 260px;
  margin: 50px auto;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}





/* Сортировка по типу сетки */
.template-parameters__grid fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.template-parameters__grid {
    margin-top: 55px;
}

.template-parameters__grid div {
    margin-top: 17px;
}

.template-parameters__grid div:first-of-type {
    margin-top: 10px;
}

.template-parameters__grid legend {
    margin-bottom: 5px;
}

.template-parameters__grid input {
    display: none;
}

.template-parameters__grid label {
    position: relative;

    padding-left: 35px;

    line-height: 20px;
    font-family: inherit;
    color: #B8B8B8;
    font-weight: 500;
}

.template-parameters__grid label::before {
    content: "";
    position: absolute;
    display: inline-block;
    display: none;

    width: 26px;
    height: 26px;

    left: 0px;
    top: -5px;

    background-image: url(../img/radio-on.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.template-parameters__grid label:hover::before {
    background-image: url(../img/radio-on-hover.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.template-parameters__grid input[type="radio"]:checked + label::before {
    display: block;
}

.template-parameters__grid input[type="radio"]:disabled + label {
    color: #EDEDED;
}

.template-parameters__grid input[type="radio"]:disabled + label::after {
    display: block;
    background-image: url(../img/radio-off-disabled.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.template-parameters__grid input[type="radio"]:checked:disabled + label::after {
    display: block;
    background-image: url(../img/radio-off-disabled.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.template-parameters__grid label:hover {
    color: #4D4D4D;
}

.template-parameters__grid label::after {
    content: "";
    position: absolute;
    display: inline-block;

    width: 26px;
    height: 26px;

    left: 0px;
    top: -5px;

    background-image: url(../img/radio-off.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.template-parameters__grid label:hover::after {
    background-image: url(../img/radio-off-hover.svg);
    background-repeat: no-repeat;
    background-position: center;
}




/* button */
.main-content__forms .button {
    margin-top: 45px;
    margin-left: 6px;

    padding: 15px 85px;
    background-color: #EEEEEE;
    border-radius: 5px;
    border: none;

    color: #000000;
    font-weight: 700;
}

.main-content__forms .button:hover {
    background-color: #4D4D4D;
    color: #ffffff;
    }





/* Сортировка по особенностям */
.template-parameters__features fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 43px;
}

.template-parameters__featuresd {
    margin-top: 20px;
}

.template-parameters__features div {
    margin-top: 15px;
}

.template-parameters__features div:first-of-type {
    margin-top: 10px;
}

.template-parameters__features div:nth-of-type(3) {
    margin-top: 16px;
}

.template-parameters__features div:nth-of-type(4) {
    margin-top: 18px;
}

.template-parameters__features div:nth-of-type(5) {
    margin-top: 17px;
}

.template-parameters__features legend {
    margin-bottom: 5px
}

.template-parameters__features input {
    display: none;
}

.template-parameters__features label {
    position: relative;

    padding-left: 35px;

    line-height: 20px;
    font-family: inherit;
    color: #B8B8B8;
    font-weight: 500;
}

.template-parameters__features label::before {
    content: "";
    position: absolute;
    display: inline-block;
    display: none;

    width: 30px;
    height: 26px;

    left: 0px;
    top: -5px;

    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.template-parameters__features label:hover::before {
    background-image: url(../img/checkbox-on-hover.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.template-parameters__features input[type="checkbox"]:checked + label::before {
    display: block;
}

.template-parameters__features input[type="checkbox"]:checked + label::after {
    display: none;
}

.template-parameters__features input[type="checkbox"]:disabled + label {
    color: #EDEDED;
}

.template-parameters__features input[type="checkbox"]:disabled + label::after {
    display: block;
    background-image: url(../img/checkbox-off-disabled.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.template-parameters__features input[type="checkbox"]:checked:disabled + label::before {
    display: block;
    background-image: url(../img/checkbox-on-disabled.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.template-parameters__features label:hover {
    color: #4D4D4D;
}

.template-parameters__features label::after {
    content: "";
    position: absolute;
    display: inline-block;

    width: 26px;
    height: 26px;

    left: 0px;
    top: -5px;

    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.template-parameters__features label:hover::after {
    background-image: url(../img/checkbox-off-hover.svg);
    background-repeat: no-repeat;
    background-position: center;
}




/* sorting templates */

.catalog .ready-templates__sorting {
    flex-basis: 760px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 54px;
    margin-top: 3px;
}

.catalog .ready-templates__sorting p:first-child {
    text-transform: uppercase;
    font-weight: 700;
}

.catalog .ready-templates__sorting p {
    margin: 0;
}

.catalog .sorting-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog .sorting-wrapper p {
    display: inline-block;
}

.catalog .sorting-title {
    letter-spacing: 1.4px;
}

.catalog .sorting-wrapper .sorting-title__item {
    font-weight: 500;
    font-size: 14px;
}

.catalog .sorting-wrapper .sorting-title__item:hover {
    color: #AFAFAF;
}

.catalog .sorting-wrapper .sorting-title__item:hover path {
    fill: #AFAFAF;
}

.catalog .sorting-wrapper .sorting-title__item:active {
    color: #000000;
}

.catalog .sorting-wrapper .sorting-title__item:active path {
    fill: #000000;
}

.catalog .ready-templates__sorting .sorting-title__item--active {
    color: #000000;
}

.catalog .ready-templates__sorting .sorting-title__item--active path {
    fill: #000000;
}

.catalog .sorting-direction .sorting-title__item {
margin-right: 29px;
}

.catalog .sorting-direction .sorting-title__item:first-of-type {
margin-right: 5px;
}

.catalog .sorting--type .sorting-title__item {
    text-transform: uppercase;
    padding: 5px 14px;
}

.catalog .sorting--type .sorting-title__item:nth-of-type(2) {
    text-transform: uppercase;
    padding: 5px 12px;
    padding-left: 8px;
    margin-right: 5px;
}

.catalog .sorting--type .sorting-title__item:nth-of-type(3) {
    text-transform: uppercase;
    padding: 5px 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 13px;
}

.catalog .ready-templates__sorting a {
    color: #E9E9E9;
}

.catalog .sorting-direction a:last-child svg {
    transform: rotate(180deg);
}






/* content ready templates */

.catalog.ready-templates__content {
    max-width: 760px;
}

.catalog .ready-templates__content--list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog .ready-templates__content--item {
    flex-basis: 360px;
    margin-bottom: 30px;
    max-height: 620px;
    position: relative;
}

.catalog .ready-templates__content--item:hover path {
    fill: #4D4D4D;
}

.catalog .ready-templates__content--item:hover .content__item--hover {
    z-index: 1;
}

.catalog .ready-templates__content--item p,
.catalog .ready-templates__content--item h3 {
    margin: 0;
}

.catalog .ready-templates__content--item p:first-child {
    line-height: 18px;
    color: #666666;
}

.catalog .ready-templates__content--item img {
    margin-top: -7px;
}

.catalog .ready-templates__content--item a {
    color: #000000;
}

.catalog .item--hover__wrap h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 20px;
}

.catalog .content__item--hover {
    z-index: -1;
    position: absolute;
    bottom: 5px;
    left: 0;
    height: 235px;
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: #EEEEEE;
}

.catalog .item--hover__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-basis: 205px;
}

.catalog .item--hover__wrap .button {
    padding: 15px 60px;
    border-radius: 5px;
    margin-top: 20px;
}







/* page-nav */

.catalog .main-content__page-navigation {
    margin-top: 26px;
    margin-left: 2px;
}

.catalog .page-navigation__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.catalog .page-navigation__item {
    padding: 12px 20px;
    margin-right: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #EEEEEE;
    border-radius: 5px;
    line-height: 27px;
}

.catalog .page-navigation__item:first-child {
    padding: 11px 18px;
    line-height: 25px
}

.catalog .page-navigation__item a {
    color: #000000;
}

.catalog .page-navigation__item:last-child {
    padding-left: 77px;
    padding-right: 77px;
    line-height: 27px;
    margin-right: -2px;
}

.catalog .page--active {
    background-color: #FFFFFF;
    border: 2px solid #EEEEEE;
    padding: 8px 15px;
}

.catalog .page-navigation__item:hover {
    background-color: #DFDFDF;
}

.catalog .page-navigation__item:active {
    color: rgba(0,0,0,0.5);
    background-color: #D5D5D5;
}






/* слайдер */
.main-slider {
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    width: 1200px;
    /* margin-left: -10%; */
}

.main-slider-wrrapper {
    display: flex;
    max-width: 1160px;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 12px;
}

.main-slider__list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.main-slider__item {
    display: flex;
    flex-grow: 1;
}

.main-slider__list p {
    padding-top: 2px;
}

.main-slider__item:not(:first-child) {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.main-slider__item:last-child .item-wrap__img {
    display: flex;
    margin-top: auto;
    margin-bottom: 6px;
}

.item-wrap {
    flex-shrink: 5;
    padding-top: 58px;
}

.item-wrap b {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: 0.1px;
}

.letter-spacing {
    letter-spacing: 1px;
}

.item-wrap p {
    margin: 0;
    margin-top: 25px;
    line-height: 24.5px;
}

.item-wrap .button {
    margin-top: 38px;
    padding: 14px 55px;
}

.item-wrap .button:hover {
    background-color: #E74246;
}

.item-wrap .button:active {
    background-color: #D7373B;
    color: rgba(255,255,255,0.5);
}

.item-wrap__img {
    padding-right: 30px;
    flex-shrink: 1;
}

.item-wrap__img img {
    margin-bottom: -6px;
}





/* main-service */
.main__service {
    display: flex;
    justify-content: center;
}

.main__service--wrapper {
    flex-basis: 1160px;
    border-bottom: 2px solid #ececec;
    padding-bottom: 80px;
    padding-top: 7px;
    box-sizing: border-box;
}

.service--list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: -50px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.service--item {
    flex-basis: 300px;
    padding-top: 70px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
}

.service--item img {
    width: 300px;
    height: 150px;
}

.service--item p,
.service--item h3 {
    margin: 0;
}

.service--item h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 20px;
}

.service--item p {
    padding-top: 18px;
    margin-bottom: 30px;
    line-height: 24px;
}

.service--item .button {
    margin-top: auto;
    padding: 15px 40px;
}

.service--item:nth-child(2) .button {
    background-color: #00CA74;
}

.service--item:nth-child(3) .button {
    background-color: #EFC84A;
}

.service--item:nth-child(2) .button:hover {
    background-color: #00BC6C;
}

.service--item:nth-child(2) .button:active {
    background-color: #00AA62;
    color: rgba(255,255,255,0.5);
}

.service--item:nth-child(3) .button:hover {
    background-color: #EAB534;
}

.service--item:nth-child(3) .button:active {
    background-color: #E5A722;
    color: rgba(255,255,255,0.5);
}




/* main-about-us */
.main__about-us {
    display: flex;
    justify-content: center;
}

.main__about-us--wrapper {
    display: flex;
    flex-basis: 1160px;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    border-bottom: 2px solid #ececec;
    padding-bottom: 75px;
    padding-top: 75px;
}

.about-us__list {
    flex-basis: 660px;
    display: flex;
    flex-direction: column;
}

.plural {
    margin: 0;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
margin-top: -5px;
}

.plural--principle {
    margin: 0;
    margin-top: 33px;
}

.plural--list {
    margin: 0;
    margin-top: 39px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.09px
}

.about-us__service--list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.about-us__item {
    padding-left: 35px;
    margin-top: 27px;
    position: relative;
    line-height: 21px;
}

.about-us__item::before {
    content: "";
    width: 25px;
    height: 2px;
    /* background-image: url("../img/red-line.png");
    background-repeat: no-repeat;
    background-position: center; */
background-color: #E74246;
    position: absolute;
    left: 0px;
    top: 9px;
}

.about-us__statistic {
    margin-top: -37px;
    margin-right: -20px;
    flex-basis: 380px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.statistis-title {
    margin: 0;
    margin-top: 36px;
    padding-left: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1px;
}

.about-us__statistic--list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
}

.about-us__statistic--item {
    margin-right: 23px;
}

.about-us__statistic--item > p {
    margin: 0;
}

.about-us__statistic--item > p:last-child {
    margin-top: 29px;
    line-height: 19px;
}

.statistic--item__bold {
    position: relative;
    font-size: 45px;
    font-weight: 700;
    padding-top: 0px;
    letter-spacing: 0.7px;
}

.statistic--item__bold:last-child {
    margin-left: 10px;
}

.statistic--item__bold sup {
    position: absolute;
    transform: scale(0.8);
    top: 5px;
    left: 76px;
}

.statistic--item__bold .last-child {
    left: 51px;
}






/* works */
.main-works {
    display: flex;
    justify-content: center;
}

.main-works__wrapper {
    flex-basis: 1160px;
    border-bottom: 2px solid #ececec;
    padding: 9px 0 9px 0;
    box-sizing: border-box;
}

.main-works__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    overflow: hidden;
}

.main-works--item {
    max-width: 280px;
    max-height: 90px;
    padding: 35px 25px;
}

.main-works--item img {
    opacity: 0.5
}

.main-works--item:hover img {
    opacity: 1;
}

.main-works--item:active img {
    opacity: 0.2;
}

.main-works--item a {
    position: relative;
}

.main-works--item a::after {
    content: "";
    width: 10px;
    height: 60px;
    background-image: url(/img/line.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: -55px;
    top: -55px;
}

.main-works--item:nth-child(3) a::after {
    top: -40px;
}

.main-works--item:nth-child(4) a::after {
    top: -65px;
    left: -60px;
}




/* map */
.main-map {
    max-width: 1200px;
    min-height: 420px;
    margin: 0 auto;
    margin-top: 78px;
/*     margin-left: -10%; */
    position: relative;
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    background-position: -120px -145px;
    background-size: 1440px;
    background-color: #dfe2e3;
}

.catalog .main-map {
    margin-top: 55px;
    margin-left: -10%;
}

.main-map__wrapper {
    position: absolute;
    top: 55px;
    left: 10px;
    padding: 21px 60px 20px 60px;
    background-color: #ffffff;
    width: 210px;
    height: 265px;
}

.catalog .main-map__wrapper {
    height: 265px;
}

.map__address > p {
    margin: 0;
    margin-top: 32px;
    line-height: 19px;
}

.catalog .map__address > p {
    margin-top: 35px;
}

.map__address > p:nth-child(2) {
    margin-top: 29px;
    line-height: 18px;
}

.map__address > p:nth-child(3) {
    margin-top: 17px;
    line-height: 18px;
}

.catalog .map__address b {
    font-size:18px;
}

.map__address--title {
    letter-spacing: 1.2px;
}

.catalog .map__address--title {
    letter-spacing: 1px;
}

.catalog .map__address p:nth-child(3) {
    margin-top: 17px;
}

.map__address .button {
    position: absolute;
    right: 50px;
    font-size:15px;
    text-align: center;
    padding: 13px 46px;
    margin-top: 38.5px;
    letter-spacing: 1px;
}

.catalog .map__address .button {
    margin-top: 39px;
}




/* footer */
.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-footer__wrapper {
    flex-basis: 1160px;
    display: flex;
    justify-content: flex-start;

    padding: 55px 0 60px 0;
    box-sizing: border-box;
}

.footer-social {
    display: flex;
    flex-basis: 400px;
}

.social-list {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    flex-basis: 400px;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.social-item {
    background-color: #D0D0D0;
    border: 1PX solid rgba(0, 0, 0, 0);
    border-radius: 50%;

    width: 80px;
    height: 80px;
    margin-right: 15px;

    display: inline-block;
    position: relative;
}

.social-item-vk svg ,
.social-item-fb svg ,
.social-item-ig svg {
    position: absolute;
    top: 50%;
    left: 50%;
}

.social-item-vk svg {
    margin-left: -13px;
    margin-top: -7.5px;
}

.social-item-fb svg {
    margin-left: -6px;
    margin-top: -11px;
}

.social-item-ig svg {
    margin-left: -10.5px;
    margin-top: -10.5px;
}

.social-item svg path {
    fill: #FFFFFF;
}

.social-item:hover {
    background-color: #E74246;
}

.social-item:active,
.social-item:active svg path {
    background-color: #D7373B;
    fill: rgba(255,255,255,0.5);
}

.footer__tagline {
    display: flex;
    flex-direction: column;
}

.footer__tagline > p {
    margin: 0;
    margin-top: 12px;
    letter-spacing: 0.2px;
}

.footer__tagline > p:nth-child(2) {
    margin: 0;
    margin-top: 9px;
    font-size:15.5px;
    letter-spacing: 0.3px;
}

.catalog .footer__tagline > p {
    margin: 0;
    margin-top: 16px;
}

.catalog .footer__tagline > p:nth-child(2) {
    margin: 0;
    margin-top: 9px;
}

.footer__tagline .sale {
    margin-top: 5px;
}

.footer__tagline p > b {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

.catalog .footer__tagline p > b {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
letter-spacing: 0.2px;
}



/* popap-write-to-us */
.popap-write-to-us {
    display: none;
    position: fixed;

    top: 180px;
    left: 50%;

    width: 960px;
    height: 580px;

    margin-left: -480px;

    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 0px 15px 50px 0px rgba(50, 50, 50, 1);
    z-index: 1;
}

.write-to-us__form legend {
    margin-bottom: 35px;
    margin-left: 5px;
    letter-spacing: 2px;
}

.popap-wrapper {
    max-width: 770px;
    max-height: 440px;

    padding: 70px 100px;
    padding-top: 69px;
    padding-left: 80px;

    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.half-width-wrapper {
    display: flex;
    align-content: flex-start;
}

.half-width label[for="email"],
.half-width label[for="name"] {
    margin-left: 5px;
}


.textarea label[for="textarea"] {
    margin-left: 5px;
}

.half-width {
    box-sizing: border-box;
    margin-right: 33px;
}

.half-width input {
    max-width: 360px;
    max-height: 50px;
}

.half-width input[type="text"] {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.half-width input[type="email"] {
    margin-left: 5px;
    margin-top: 5px;
}

.write-to-us__form {
    font-family: inherit;
}

.write-to-us__form fieldset {
    border: none;
}

.write-to-us__form legend {
    font-size: 42px;
    font-weight: 700;
    line-height: 42px;
}

.write-to-us__form label,
.write-to-us__form input {
    list-style: none;
    border: none;
    font: inherit;
}

.write-to-us__form label {
    font-weight: 700;
    margin: 20px 10px 20px 0;
}

.write-to-us__form input {
    width: 360px;
    height: 51px;
    margin: 10px 0px;
    border: 2px solid #ececec;
    border-radius: 5px;

    padding: 10px;
    box-sizing: border-box;
}

.write-to-us__form textarea {
    font: inherit;
    width: 760px;
    height: 116px;
    border: 2px solid #ececec;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 5px;
}

.write-to-us__form .textarea {
    margin-top: 20px;
}

.write-to-us__form textarea {
    margin-top: 5px;
}

.write-to-us__form .button {
    margin-top: 43px;
    margin-left: 8px;
    padding: 12px 82px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0);
}

.modal-close {
    position: absolute;
    top: 76px;
    left: 849px;

    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: #ffffff;
    border: 0;

    cursor: pointer;
    outline: none;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 9px;
    left: -4px;

    width: 31px;
    height: 3px;

    background-color: #FEAEB0;
}

.modal-close:hover::before,
.modal-close:hover::after {
    background-color: #FB565A;
}

.modal-close:active::before,
.modal-close:active::after {
    background-color: #FFE1E1;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.popap-write-to-us label[for="name"]:hover,
.popap-write-to-us label[for="email"]:hover,
.popap-write-to-us label[for="textarea"]:hover,
.popap-write-to-us input[type="text"]:hover,
.popap-write-to-us input[type="email"]:hover,
.popap-write-to-us textarea:hover {
border-color: #B4B9BB;
}

.popap-write-to-us input:hover::-webkit-input-placeholder {
color: #B4B9BB;
}

.popap-write-to-us input:hover::-moz-placeholder {
color: #B4B9BB;
}

.popap-write-to-us input:hover:-moz-placeholder {
color: #B4B9BB;
}

.popap-write-to-us input:hover:-ms-input-placeholder {
color: #B4B9BB;
}

.popap-write-to-us textarea:hover::-webkit-input-placeholder {
color: #B4B9BB;
}

.popap-write-to-us textarea:hover::-moz-placeholder {
color: #B4B9BB;
}

.popap-write-to-us textarea:hover:-moz-placeholder {
color: #B4B9BB;
}
.popap-write-to-us textarea:hover:-ms-input-placeholder {
color: #B4B9BB;
}

.popap-write-to-us label[for="name"]:focus,
.popap-write-to-us label[for="email"]:focus,
.popap-write-to-us label[for="textarea"]:focus,
.popap-write-to-us input[type="text"]:focus,
.popap-write-to-us input[type="email"]:focus,
.popap-write-to-us textarea:focus {
border-color: #000000;
outline: none;
}

.popap-write-to-us input:focus::-webkit-input-placeholder {
color: #000000;
}

.popap-write-to-us input:focus::-moz-placeholder {
color: #000000;
}

.popap-write-to-us input:focus:-moz-placeholder {
color: #000000;
}

.popap-write-to-us input:focus:-ms-input-placeholder {
color: #000000;
}

.popap-write-to-us textarea:focus::-webkit-input-placeholder {
color: #000000;
}

.popap-write-to-us textarea:focus::-moz-placeholder {
color: #000000;
}

.popap-write-to-us textarea:focus:-moz-placeholder {
color: #000000;
}
.popap-write-to-us textarea:focus:-ms-input-placeholder {
color: #000000;
}

.popap-write-to-us label[for="name"]:invalid,
.popap-write-to-us label[for="email"]:invalid,
.popap-write-to-us label[for="textarea"]:invalid,
.popap-write-to-us input[type="text"]:invalid,
.popap-write-to-us input[type="email"]:invalid {
border-color: #E74246;
}

.popap-write-to-us label[for="name"]:invalid,
.popap-write-to-us label[for="email"]:invalid,
.popap-write-to-us label[for="textarea"]:invalid,
.popap-write-to-us input[type="text"]:invalid,
.popap-write-to-us input[type="email"]:invalid,
.popap-write-to-us textarea:invalid {
border-color: #E74246;
outline: none;
color: #E74246;
}
