body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color: #fefefe;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}




/* кнопки */

.button {
    display: inline-block;
    padding: 13px 40px;
    font: inherit;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #fb565a;
}


.main-header {
border: 1px solid black;
background-color: #ececec;
display: flex;
justify-content: center;

}

.header__wrapper {
border: 1px solid blue;
display: flex;
flex-basis: 1160px;
justify-content: space-between;
align-items: center;
padding-top:50px;
flex-wrap: wrap;
overflow: hidden;
}

.header__wrapper a {
    text-transform: uppercase;
    font-weight: 500;

}

.logo__wrapper {
border: 1px solid grey;
}

.header__nav {
border: 1px solid red;
}

.header__nav--list {
border: 1px solid yellow;
list-style: none;
margin: 0;
padding: 0;
padding-right: 55px;
display: flex;
/* margin-right: 70px; */
flex-wrap: wrap;
}

.header__nav--item {
background-color: green;
margin-right: 25px;
padding:5px 10px;
flex-grow: 1;
}

.header__wrapper--cart {
border: 1px solid orange;
}

.cart--item {
background-color: magenta;
padding: 5px 10px;
margin-right: -10px;
}

.cart--item::before {
/*img*/
}






/* slider */

.main-slider {
border: 1px solid black;
display: flex;
justify-content: center;
}

.main-slider__wrapper {
border: 1px solid blue;

flex-basis: 1160px;
/* padding-right: 20px; */
}

.main-slider__list {
border: 1px solid grey;
list-style: none;
margin: 0;
padding: 0;
position: relative;

display: flex;
flex-wrap: wrap;
/* justify-content: space-between; */
}

.main-slider__item {
border: 1px solid red;
display: flex;
flex-grow: 1;
}


.main-slider__item:not(:first-child) {
position: absolute;
z-index: -1;
opacity: 0;
}

.item-wrap {
border: 1px solid yellow;
flex-shrink:5;
padding-top: 60px;
}

.item-wrap b{
font-size: 55px;
font-weight: 500;
line-height: 55px;
/* margin-top: 20px; */
}

.item-wrap p {
margin: 0;
margin-top: 25px;
}


.item-wrap .button {
margin-top: 40px;
padding:14px 54px;
}

.item-wrap__img {
padding-right: 30px;
flex-shrink: 1;
}






/* main__service */

.main__service {
border: 1px solid black;

display: flex;
justify-content: center;
}

.main__service--wrapper {
/* box-sizing: border-box; */
flex-basis: 1160px;

border-bottom:1px solid grey;
padding-bottom: 80px;
}

.service--list {
margin: 0;
padding: 0;
list-style: none;
margin-right: -50px;
/* box-sizing: border-box; */

display: flex;
/* justify-content: space-between; */
flex-wrap: wrap;
/* flex-grow: 1; */
/* max-width: 26%; */
/* align-items: center;
align-content: center; */
/* flex-basis: 1160px; */
}

.service--item {
flex-basis: 300px;
padding-top: 70px;
/* box-sizing: border-box; */
/* overflow: hidden; */
margin-right: 100px;
display: flex;
flex-wrap: wrap;
flex-grow:1;
}




.service--item img {
width: 300px;
height: 150px;
}

.service--item p,
.service--item h3 {
margin: 0;
}

.service--item h3 {
font-size: 24px;
font-weight: 700;
line-height: 30px;
text-transform: uppercase;

margin-top:20px;
}

.service--item p {
margin-top: 15px;
margin-bottom: 30px;
}

.service--item .button {
margin-top: auto;
}





/* about-us */
.main__about-us {
background-color: yellow;

display: flex;
justify-content: center;
}

.main__about-us--wrapper {
background-color: red;

display: flex;
flex-basis: 1160px;
justify-content: space-between;
align-content: flex-start;
flex-wrap: wrap;

border-bottom:1px solid grey;
padding-bottom: 70px;
/* align-items: flex-start; */
padding-top: 80px;
}

.about-us__list {
background-color grey;

flex-basis: 660px;
display: flex;
flex-direction: column;
/* margin-right: 120px; */
/* flex-grow: 5;
flex-shrink:4; */
}

.plural {
margin: 0;


font-size: 45px;
font-weight: 500;
line-height: 45px;
}

.plural--principle {
margin: 0;
margin-top: 30px;
}

.plural--list {
margin: 0;
margin-top: 40px;
text-transform: uppercase;
font-weight: 700;
}

.about-us__service--list {
background-color: blue;
list-style: none;
margin: 0;
padding: 0;
/*
display: flex;
flex-direction: column; */
}

.about-us__item {
padding-left: 35px;
margin-top: 25px;
}

.about-us__statistic {
margin-top: -35px;
margin-right: -20px;
flex-basis: 380px;
display: flex;
/* flex-grow: 1;
flex-shrink:3 */
flex-direction: column;
flex-wrap: wrap;
/* justify-content: flex-start; */
/* align-content: space-around; */
/*align-items: center; */
}

.statistis-title {
margin:0;
margin-top: 35px;
padding-left: 15px;

font-weight: 700;
text-transform: uppercase;
}

.about-us__statistic--list {
background-color: #BD53DE;
list-style: none;
margin:0;
padding: 0;

margin-top: 50px;
/* margin-left: -60px;
margin-top: 20px;
max-width: 350px;*/
display: flex;
/* justify-content: space-around; */
align-items: flex-end;
/*align-content:;*/
}

.about-us__statistic--item {
margin-right: 17px;
/* margin-bottom: px; */
/* max-width: 100px; */
/* display: flex;
align-items: flex-start;
align-content: flex-start;
align-self: flex-start;
justify-content: flex-start; */
/* justify-content: flex-start; */
}

.about-us__statistic--item > p {
margin: 0;
/* padding-top: 10px; */
}

.about-us__statistic--item > p:last-child {
margin-top: 27px;
line-height: 19px;
}

.statistic--item__bold {
font-size: 45px;
font-weight: 700;
/* margin-top:80px; */
}




/* main-works */
