body {
min-width: 960px;
margin: 0;
padding: 0;

font-family: "Roboto" , Arial, sans-serif;
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: #000000;

background-color: #ffffff;
}

a {
text-decoration: none;
}

img {
max-width: 100%;
height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
position: absolute;

width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

white-space:nowrap;

clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;

}

.button {
display: inline-block;
padding: 18px 50px;

font: inherit;
text-align: center;
color: #ffffff;
text-transform: uppercase;
background-color: #fb565a;
}

.main-header {
padding-top: 40px;

display: flex;
justify-content: center;

background-color: #eeeeee;
}

.main-header a {
font-weight: 500;
line-height: 30px;
text-transform: uppercase;
}

.main-header ul {
margin: 0;
list-style: none;
}


.header__wrapper {
display: flex;
/* justify-content: space-between; */
align-items: center;
box-sizing: border-box;
padding: 10px;

min-width: 1160px;
}

.header__nav--list {
display: flex;
}

.logo__wrapper {
margin-right: auto;
}

.header__nav {
width: 440px;
margin-left: -150px;
}

.header__nav--item {
margin-right: 25px;
padding: 10px 10px;
}

.header__wrapper--cart {
margin-left: auto;
}

.main-slider {
background-color: #eeeeee;
}

.main-slider__list {
margin: 0;
min-width: 1160px;


display: flex;
flex-direction: column;
justify-content: center;
align-content: space-around;
align-items: center;
}

.main-slider__item {
display: flex;
flex-direction: row;

}

.item-wrap {

}

.item-wrap__img {

}
